body{
    margin: 0;
    background-color: lightgreen;
}
canvas{
    display: block;
    margin: auto;
    border: 2px solid #fff;
    position: absolute;
  top: 0;
  left: 0;
}
#mainMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #222, #444);
  color: rgb(62, 162, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Comic Sans MS;
  z-index: 10;
}
#startButton {
  padding: 15px 30px;
  font-size: 1.2em;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(36, 231, 218);
  border: none;
  border-radius: 8px;
}